<div data-ng-controller="todoListController">
  <h1>Todo App</h1>
   <div ng-repeat="todo in todos">
    <a href="#{{todo.url}}"><h2>{{todo.todo}}</h2></a>
        <ul ng-repeat="item in todo.items">
          <li>{{item.title}} | {{item.description}} </li>
        </ul>
  </div>

  <form novalidate class="simple-form">
    title: <input type="text" ng-model="todo.todo" /><br />
    <input type="submit" ng-click="add(todo)" value="Add" />
  </form>
</div>
