<div data-ng-controller="todoShowController">
  <form novalidate class="simple-form">
    <input type="text" ng-model="todo.todo" />
      <ul ng-repeat="item in todo.items">
        <input type="text" ng-model="item.title" /> | <input type="text" ng-model="item.description" />
      </ul>
    <input type="submit" ng-click="update(todo)" value="save" />
    <br/><textarea id="userDebugText">{{todo | json}}</textarea>
  </form>
</div>
