<h1>Todos</h1>

{{#each model as |todo|}}
  <h2> {{#link-to 'todo' todo}}{{todo.title}}{{/link-to}}</h2>
  <ul>
    {{#each todo.items as |item|}}
      <li> {{item.title}} | {{item.description}}  </li>
    {{/each}}
  </ul>
{{/each}}
