{{input type="text" value=model.title size="50"}}
<ul>
  {{#each model.items as |item|}}
    <li>{{input type="text" value=item.title size="50"}} | {{input type="text" value=item.description size="50"}}  </li>
  {{/each}}
</ul>

